.bstnode {
    background: rgb(222,170,255);
    background: linear-gradient(210deg, rgba(222,170,255,1) 34%, rgba(208,209,255,1) 80%);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: Helvetica;
    color: #FFF;
}

.front-node {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    font-family: Helvetica;
    color: #FFF;
}

.bstnode:hover {
    cursor: pointer;
}

.tree-info {
    padding: 8px 0px;
    width: 100%;
}

.tree-info label {
    width: 100%;
    display: block;
}

.slider {
    width: 120px;
    margin-left: 10px;
    padding-top: 0px;
}

.field-button {
    margin-left: 10px; 
    border-radius: 4px;
    width: 70px;
    min-width: 20px;
    text-align: center;
    margin-top: 2px;
    height: 28px;
    border-style: none;
    background-color: #3C5B6F;
    color: white;
    padding: 4px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    height: 100%;
}

.refresh-button {
    border-radius: 4px;
    height: 28px;
    width: 160px;
    text-align: center;
    margin: 8px 0px;
    border-style: none;
    background-color: #3C5B6F;
    color: white;
    padding: 4px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

.clear-button {
    border-radius: 4px;
    height: 28px;
    width: 80px;
    text-align: center;
    margin: 8px 20px;
    border-style: none;
    background-color: #C80000;
    color: white;
    padding: 4px;
    font-family: Raleway, sans-serif;
    font-weight: 500;
}

.field {
    background: #eee;
    border: solid 1px #888;
    -webkit-appearance: none; 
    margin: 8px 0px;
    border-radius: 3px;
    width: 100px;
    height: 20px
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

textarea {
    resize: none;
    overflow-x: none;
    overflow-y: auto;
    background: #eee;
}


#nodecontainer {
    height: 100%;
}

.linecontainer {
    height: 100%;
    width: 100%;
}

#error-message {
    padding-top: 10px;
    padding-bottom: 10px;
}

.log {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    border-radius: 6px;
    margin: 4px;
    background-color: #12263A;
    color: white;
    padding: 8px;
}

.log-border-bottom {
    background: #3C5B6F;
}

#logs {
    margin: 8px 0px;
    height: 300px;
    background-color: #12263A;
    width: 18rem;
    border-radius: 6px;
    overflow: scroll;
}