@media screen and (max-width: 1004px){

    #demo-nodecontainer{
        display: none;
    }
}

.hidden {
    
    opacity: 0;
}

.question:hover + .hidden {
    
    color: red;
    margin-left: 1rem;
    transition: opacity 500ms linear;
    opacity: 1;
}
