.main-wrapper {
    padding-left: min(90px, calc(12vw - 30px));
    padding-right: min(90px, calc(12vw - 30px));
    padding-bottom: 4rem;
}

@media screen and (min-width: 650px){
    .main-wrapper{
        padding-top: 6rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        grid-gap: 2rem;
        margin-top: 5px;
    }
}
