input[type=range] {
    width: 110px;
    margin: 0px 0px 0px 0px;
    padding-left: 1rem;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    background: #ccc;
    border: 0.1px solid #aaa;
    border-radius: 25px;
    width: 110px;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-webkit-slider-thumb {
    margin-top: -5.9px;
    width: 20px;
    height: 20px;
    background: #3c5b6f;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
  }
  input[type=range]::-moz-range-track {
    background: #ccc;
    border: 0.1px solid #dddddd;
    border-radius: 25px;
    width: 110px;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3c5b6f;
    border-radius: 50px;
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 6.8px 0;
    color: transparent;
    width: 110px;
    height: 8.4px;
    cursor: pointer;
  }
  input[type=range]::-ms-fill-lower {
    background: #929292;
    border: 0.1px solid #dddddd;
    border-radius: 50px;
  }
  input[type=range]::-ms-fill-upper {
    background: #eeeeee;
    border: 0.1px solid #dddddd;
    border-radius: 50px;
  }
  input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #3c5b6f;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #eeeeee;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #eee;
  }
  /*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
  how to remove the virtical space around the range input in IE*/
  @supports (-ms-ime-align:auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type=range] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }