:root {
    --bg:  #fff;
    --bg-accent: #eee;
    --text-color: black;
    --nav-size: 50px;
    --border: 1px solid #eee;
    --border-radius: 10px;
    --speed: 500ms; 
}

.link {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}

.link:hover {
    text-decoration: none;
}

.logo {
    height: 100%;
    width: auto;
}

.home-button {
    height: 40px;
    padding: 5px;
    padding-right: 8px;
    margin-top: -5px;
    border-radius: var(--border-radius);
    transition: background var(--speed);
}

.home-button:hover {
    background-color: var(--bg-accent);
}

.caret {
    font-size: 18px;
    color: #3C5B6F;
}

.nav-button {
    font-size: 16px;
    vertical-align: text-bottom;
    font-family: Raleway, sans-serif;
    font-weight: 500;
    transition: background var(--speed);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: var(--border-radius);
    margin-bottom: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.nav-button:hover {
    background-color: var(--bg-accent);
}

.nav-container {
    background-color: white;
    border-bottom: 1px solid #eee;
    box-shadow: 0px 0px 4px 4px #eee;
    height: var(--nav-size);
    padding-top: 10px;
    padding-left: min(90px, calc(12vw - 30px));
    padding-right: min(90px, calc(12vw - 30px)); 
    display: flex;
    justify-content: flex-start;
    grid-template-columns: repeat(5,200px);
}

.search-button {
    margin-top: 5px;
    margin-right: 10px;
    float: left;
    vertical-align: top;
}
.auto-suggest-container {
    float: left;
}
.search-button svg {
    height: 28px;
    width: 28px
}

.auto-suggest-nav {
    margin-left: auto;
    display: block;
    z-index: 1;
}


.menu {
    width: 100%;
}

.section-title {
    font-size: 25px;
    text-decoration: none;
    height: 35px;
    display: flex;
    align-items: center;
    transition: background var(--speed);
    padding: 0.5rem;
    cursor: default;
    border-bottom: 1px solid #ddd;
}

.section-title:hover {
    text-decoration: none; 
}

.menu-item {
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: var(--bg-accent);
}

.dropdown {
    position: absolute;
    z-index: 1;
    top: 58px;
    width: 250px;
    transform: translateX(-65%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    box-shadow: 0px 0px 10px #eee;
}

@media only screen and (max-width: 650px){
    .about-nav {
        display: none;
    }
    .dropdown {
        transform: translateX(-35%);
    }
    /* .auto-suggest-nav {
        display: none;
    } */
}

@media only screen and (min-width: 650px) {
    .search-button {
        display: none;
    }
}

/* CSSTransition classes  */
.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}
.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-primary-exit {
    position: absolute;
}
.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}
  
.menu-secondary-enter {
    transform: translateX(110%);
}
.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}

.icon-button {
    --button-size: calc(var(--nav-size) * 0.6);
    width: var(--button-size);
    height: var(--button-size);
    background-color: #ddd;
    border-radius: 50%;
    padding: 5px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: filter 300ms;
    cursor: pointer;
}
  
.back-button:hover {
    filter: brightness(.9);
}
  
.icon-button svg { 
    fill: var(--text-color);
    width: calc(var(--nav-size) * 0.5);
    height: calc(var(--nav-size) * 0.5);
}

.icon-right {
    --button-size: calc(var(--nav-size) * 0.6);
    width: var(--button-size);
    height: var(--button-size);
    border-radius: 50%;
    padding: 5px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: auto;
}

.icon-right svg { 
    fill: var(--text-color);
    width: calc(var(--nav-size) * 0.4);
    height: calc(var(--nav-size) * 0.4);
}