:root {
    --bg:  #f2ede9;
    --bg-accent: #ece7e3;
    --text-color: #222;
    --nav-size: 60px;
    --border: 1px solid #eee;
    --border-radius: 10px;
    --speed: 500ms; 
}

.link {
    color: var(--text-color);
    text-decoration: none;
    font-size: 18px;
}

.link:hover {
    text-decoration: none;
}

.logoImage {
    height: 103%;
    width: auto;
    padding-right: 15px;
}

.homeLink {
    height: 40px;
    padding: 5px 5px 10px 0px;
}

.caret {
    font-size: 18px;
    color: #3C5B6F;
}

.menu {
    width: 100%;
}

.menu-item {
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: var(--bg-accent);
}

.dropdown {
    position: absolute;
    z-index: 1;
    top: 58px;
    width: 250px;
    transform: translateX(-60%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    overflow: hidden;
    transition: height var(--speed) ease;
    box-shadow: 0px 0px 10px #eee;
  }



/* CSSTransition classes  */
.menu-primary-enter {
    position: absolute;
    transform: translateX(-110%);
}
.menu-primary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-primary-exit {
    position: absolute;
}
.menu-primary-exit-active {
    transform: translateX(-110%);
    transition: all var(--speed) ease;
}
  
.menu-secondary-enter {
    transform: translateX(110%);
}
.menu-secondary-enter-active {
    transform: translateX(0%);
    transition: all var(--speed) ease;
}
.menu-secondary-exit {

}
.menu-secondary-exit-active {
    transform: translateX(110%);
    transition: all var(--speed) ease;
}